h1{
    font-size: 2em;
    color: #e41919;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 1.5em;
    color: #17aa1e;
    margin-top: 15px;
    text-align: center;
}
p{
    font-size: 1em;
    color: #0ce7e7;
    line-height: 1.5;
    margin: 10px 0;
    font-weight: normal;
    text-align: center;
}
body{
    background-image: url(./885-3840x2160-desktop-4k-the-last-of-us-game-background.jpg);
    background-size: cover;
    background-position: center;
}
.prvi img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}